In [72]:
#import dependencies
import pandas as pd
import numpy as np 

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [73]:
#display the total number of players

totalplayers = purchase_df["SN"].unique()
uniqueplayers = len(totalplayers)

pd.DataFrame({"Total Players" : [uniqueplayers]})

   Total Players
0            576

In [91]:
#Purchasing Analysis (Total)
 
#Run basic calculations to obtain number of unique items, average price, etc.
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting

uniqueitems = len(purchase_df["Item ID"].unique())
averageprice = purchase_df["Price"].mean()
countpurchases = len(purchase_df["Purchase ID"].unique())
totalrevenue = purchase_df["Price"].sum()

#Generate DataFrame

purchase_data_analysis_df = pd.DataFrame({"Number of Unique Items" : [uniqueitems], 
                                            "Average Price" : ['${:,.2f}'.format(averageprice)], 
                                            "Number of Purchases" : [countpurchases],
                                           "Total Revenue" : ['${:,.2f}'.format(totalrevenue)]})

#Format Data
#purchasing_data_analysis_df = purchasing_data_analysis_df.loc[:, ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

purchase_data_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [78]:
#Gender Demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

#Tips
#Calcular nunique players



#Calcular groupby gender
groupgender = purchase_df.groupby(["Gender"])
groupgender.count.head()

#gendercount = purchase_df["Gender"].value_counts()
#totalgender = sum(gendercount)
#totalgender

#percentage_of_players = (gendercount / totalgender) * 100
#percentage_of_players = percentage_of_players.round(2)

#send to a df

#gender_df = pd.DataFrame({"Total Count" : gendercount, "Percentage of Players" : percentage_of_players})
#gender_df

AttributeError: 'function' object has no attribute 'nunique'

In [71]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender



#Create a summary data frame to hold the results

#Optional: give the displayed data cleaner formatting

#Display the summary data frame